{% extends 'Base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'CSS/About.css' %}">
<title>AMIC - About</title>
{% endblock %}

{% block content %}
<br><br><br>
<div class="fill">
   <div class="grid">
      <div class="box">  
         <p class="title">Vision</p>
         <p class="text">
            • Igniting the flame of innovation within our team.
            <br>
            • Forging a legacy of excellence.
            <br>
            • Setting new industry standards.
            <br>
            • Leaving an indelible mark on the world.
         </p>             
      </div>
      {% if photos %}
      <div class="imgbox">
         <img src="{{ photos.image1.url }}" alt="Vision related image">
      </div>
      <div class="imgbox">
         <img src="{{ photos.image2.url }}" alt="Goals related image">
      </div>
      {% endif %}
      <div class="box">
         <p class="title">Goals</p>
         <p class="text">
            • Promote Excellence in Critical Scientific Thinking.
            <br>
            • Ignite Creativity for Innovative Problem-Solving.
            <br>
            • Cultivate Future Leaders with Independent Vision.
            <br>
            • Inspire Passion for STEM through Outreach.
            <br>
            • Facilitate Collaboration for Advancing Regional Science.
            <br>
            • Provide College-Level Science Exposure.
            <br>
            • Nurture a Supportive Academic Community.
         </p>               
      </div>
      <div class="box">  
         <p class="title">Mission</p>
         <p class="text">
            • Nurturing the brightest young minds in grades 10, 11, and 12.
            <br>
            • Fostering scientific thinking, creativity, and collaboration.
            <br>
            • Empowering students to become visionary leaders.
            <br>
            • Inspiring a passion for science through outreach programs.
            <br>
            • Promoting regional collaboration.
            <br>
            • Offering a college-level experience in high school.
            <br>
            • Building a close-knit community of excellence.
         </p>             
      </div>
      {% if photos %}
      <div class="imgbox">
         <img src="{{ photos.image3.url }}" alt="Mission related image">
      </div>
      {% endif %}
   </div>
</div>
{% endblock %}
