{% extends 'Base.html' %}
{% load static %}

{% block  style%}
<link rel="stylesheet" href="{% static 'CSS/Home.css' %}">
<title>AMIC - Home</title>
{% endblock %}

{% block content %}
      <br><br><br><br><br>
      <div class="fill">
        <div class="main">
            <div class="maintext">
                <p class="title">Al Mawakeb Innovation Center</p>
                <p class="slogan">Empowering tomorrow's innovators, today!</p>
            </div>
            <div class="button">
               <button class="b1" onclick="location.href='{% url 'leaderboard' %}'">
                  <label class="bt1" for="b1">Leaderboard</label>
                </button>
                <button class="b2" onclick="toggleHeaderItems('timeline')">
                    <label class="bt2" for="b2">Our Activities</label>
                </button>
            </div>
        </div>
        <div style="width: 400px;"></div>
      </div>
      <br><br><br><br><br>
{% endblock %}