{% extends 'Base.html' %}
{% load static %}

{% block  style%}
<link rel="stylesheet" href="{% static 'CSS/Leaderboard.css' %}">
<title>AMIC - Leaderboard</title>
{% endblock %}

{% block content %}
      <br><br>
      <div class="fill">
        <table>
           <thead>
              <tr>
                 <th>Rank</th>
                 <th>Name</th>
                 <th>AMICoins</th>
              </tr>
           </thead>
           <tbody>
              <!-- Loop through combined members sorted by Amicoins -->
              {% for member in sorted_combined_members %}
              {% if forloop.counter <= 10 %}
                 <tr>
                    <td>#{{ forloop.counter }}</td>
                    <td>{{ member.name }}</td>
                    <td>{{ member.amicoins|default:0 }}</td>
                 </tr>
              {% endif %}
           {% endfor %}
           </tbody>
        </table>
     </div>
      <br><br><br><br>  
{% endblock %}