{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'CSS/Common.css' %}">
      <link rel="stylesheet" href="{% static 'CSS/Team.css' %}">
      <title>AMIC - Team</title>
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <script>
         $(document).ready(function() {
            $(".headerbutton").click(function() {
               $(".headercontainer").toggleClass("show-menu");
            });
         });
      </script>
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <script>
         $(document).ready(function() {
            // Initially hide all team members
            $(".team").hide();

            // Toggle visibility when clicking on team names
            $(".category").click(function() {
               // Find the next .team element within the same parent container
               $(this).next(".team").slideToggle();
            });

            $(".headerbutton").click(function() {
               $(".headercontainer").toggleClass("show-menu");
            });
         });
      </script>
   </head>
   <body>
      <div class="header">
         <img class="headerlogo" src="{% static '../media/images/Logo.png' %}" alt="AMIC Logo">
         <div class="headercc">
            <div class="headerbutton collapsedbuttontext">—<br>—</div>
         </div>
         <div class="headercontainer">
            <div style="margin-top: 15px; margin-right: 60px;">
               <a class="headertext" href="{% url 'home' %}">Home</a>
               <a class="headertext" href="{% url 'about' %}">About Us</a>
               <a class="headertext" href="{% url 'timeline' %}">Our Timeline</a>
               <a class="headertext" href="{% url 'team' %}">Our Team</a>
               <div class="joinus">
                  <a class="joinustext" href="{% url 'leaderboard' %}">Leaderboard</a>
               </div>
            </div>
         </div>
       </div>
      <br><br><br>
      <div class="fill">
        <div class="category">
            <div class="teamname">Heads</div>
            <div class="divider"></div>
         </div>
         <div class="team">
            {% for member in head_members %}
               <div class="member">
                  <p class="membername">{{ member.name }}</p>
                  <p class="role">Member</p>
                  <p class="info">{{ member.about }}</p>
               </div>
            {% endfor %}
         </div>
         <br><br>
         <!-- Display the Organizing Committee -->
         <div class="category">
            <div class="teamname">Committee</div>
            <div class="divider"></div>
         </div>
         <div class="team">
            {% for member in org_committee_members %}
               <div class="member">
                  <p class="membername">{{ member.name }}</p>
                  <p class="role">{{ member.role }}</p>
                  <p class="info">{{ member.about }}</p>
               </div>
            {% endfor %}
         </div>
         <br><br>
         <!-- Display the Members -->
         <div class="category">
            <div class="teamname">Members</div>
            <div class="divider"></div>
         </div>
         <div class="team">
            {% for member in members %}
               <div class="member">
                  <p class="membername">{{ member.name }}</p>
                  <p class="role">{{ member.role }}</p>
                  <p class="info">{{ member.about }}</p>
               </div>
            {% endfor %}
         </div>
         <br><br>
         <!-- Display the Advisor -->
         <div class="category">
            <div class="teamname">Advisors</div>
            <div class="divider"></div>
         </div>
         <div class="team">
            {% for member in advisors %}
               <div class="member">
                  <p class="membername">{{ member.name }}</p>
                  <p class="role">{{ member.role }}</p>
                  <p class="info">{{ member.about }}</p>
               </div>
            {% endfor %}
         </div>
</div>
   </body>
   <footer>
    <div class="footer">
       <div class="about">
          <img class="logo" src="{% static '../media/images/AMIC_logo.png' %}" alt="AMIC Logo">
          <br><br>
          <p class="location">Al Mawakeb Al Barsha</p>
          <p class="location">Dubai, UAE</p>
          <br><br>
          <p class="copyright">© 2023 AMIC - Website by Sulaiman Abuqamar</p>
       </div>
       <div class="about">
          <h2 class="footertitle">Al Mawakeb Innovation Center</h2>
          <p class="footerabout">an exclusive program for highly motivated high school students, focusing on technology, innovation, and research to foster scientific leadership and provide immersive experiences.</p>
          <div class="social">
              <img class="icon" src="{% static '../media/images/linkedin.png' %}" alt="Linkedin">
              <img class="icon" src="{% static '../media/images/instagram.png' %}" alt="Instagram">
              
          </div>
       </div>
    </div>
 </footer>
</html>